$bg:#f3f1f1;
$black:#000000;
$theme-color-light:#FFF3E3;
$weak-black:#333333;
$theme-color-dark: #B88E2F;
$weak-color-para:#666666;

//products
$bg-product:#FCF8F3;
$product-head:#3A3A3A;
$weak-color-product:#898989;
$cross-rate:#B0B0B0;
$bg-discount:#E97171;
$bg-new:#2EC1AC;
$text-white:#FFFFFF;
$bg-product-card:#F4F5F7;
$product-card-hover:#3A3A3A;

//footer

$hr-line:#D9D9D9;
$weak-text-color:#9F9F9F;



//font-style

$font-mont: 'Montserrat', sans-serif;
$font-poppins: 'Poppins', sans-serif;

//width variable

$max-width:100%;


//radius

$radius-sm:10px;