.footer{
    hr{
        border-top: 1px solid $hr-line;
    }
    &__wrapper{
        padding: 4rem;
        display: grid;
        grid-template-columns: 400px 200px 300px 400px;

        @include mobile{
            grid-template-columns: 400px;
            gap: 5rem;
        }
    }

}

.footer__siteInfo{

    &-head{
        font-weight: 700;
        font-size: $space-lg;
        margin-bottom: 35px;
    }
    &-detail{
        font-weight: 400px;
        width: 300px;
        height: 72px;
        color: $weak-text-color;
    }
}

.footer__links{
    align-items: center;

    &-headsm{
        color: $weak-text-color;
        width: $space-xl;
        height: $space-lg;
        font-weight: 500;
        margin-bottom: 35px;
    }
    &-text{
        width: 150px;
        font-weight: 500;
        line-height: 300%;
    }
    input{
        outline: none;
        border: none;
        padding: 3px 0;
        padding-right: 10px;
        border-bottom: 2px solid rgba(0, 0, 0, 0.585);

        &::placeholder{
            color: $weak-text-color;
            font-weight: 400;
            font-size: 14px;
            line-height: 100%;
        }
    }
    
}

.footer__copyright{
    margin: 0rem 4rem;
    hr{
        border: 1px solid $hr-line;
    }
    p{
        width: 250px;
        height: $space-lg;
        display: flex;
        justify-content: center;
        align-items: start;
        padding: 3rem 0rem;
    }
}